{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Coffee Time : Bookmark your favourite coffee shops </p>
        <p class="box">

            <i class="fas fa-mug-hot fa-10x" style="color:saddlebrown"></i>
            <i class="" style="margin-left: 20px"></i>
            <i class="fas fa-clock fa-10x" style="color:saddlebrown"></i>
        </p>
    </div>
</section>
