<form class="box" action="/coffeeshop/{{coffeeShop._id}}/addinfo" method="POST">
    <label>Enter Coffee Shop Description:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder="Add description" name="title">
            </div>
        </div>
    </div>
    <button class="button is-primary">Add Description</button>
</form>