<form action="/dashboard/addcoffeeshop" method="POST">
    <div class="field">
        <label class="label">Coffee Shop Name</label> <input class="input" type="text" placeholder="Add name" name="title">
    </div>
    <button class="button is-link">Add</button>
</form>