<form action="/dashboard/addcoffeeshop" method="POST">
    <div class="field">
        <label class="label">Town/City</label> <input class="input" type="text" placeholder="Enter town/city" name="title">
    </div>
    <button class="button is-link">Add</button>
</form>