<div class="title p-3 is-flex">
    <i style="font-size: 38px; color: saddlebrown;" class="fas fa-mug-hot"></i>
    <i class="" style="margin-left: 10px"></i>
    <i style="font-size: 38px; color: saddlebrown;" class="fas fa-map-marked-alt"></i>
    <div class="ml-4">Coffee Spot</div>
</div>


