<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Description</th>

    </tr>
    </thead>
    <tbody>
    {{#each coffeeShop.details}}
        <tr>
            <td>
                {{title}}
            </td>

        </tr>
    {{/each}}
    </tbody>
</table>