<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Place Name</th>
        <th>Description</th>

    </tr>
    </thead>
    <tbody>
    {{#each coffeeShop.details}}
        <tr>
            <td>
                {{placeName}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
            <a href="/coffeeshop/{{../coffeeShop._id}}/deleteinfo/{{_id}}" class="ui icon button">
                <i class="fas fa-trash"></i>
            </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>